@import "tailwindcss";
@theme {
    --color-black: #000000;
    --color-white: #ffffff ;
    --color-gray: #404040 ;
    --color-zinc-100: #f4f4f5;
    --color-zinc-200: #e4e4e7;
    --color-zinc-300: #d4d4d8;
    --color-zinc-400: #71717a;
    --color-zinc-500: #27272a;
    --color-red-500: #ef4444;

  }